<style>

	.parent-qr {

		margin-top: 40px;
		display: flex;
		justify-content: flex-end;
		margin-right: 80px;

	}

	.signature-container {
		width: 300px;
		height: auto;
		padding: 10px;
		text-align: center;
		margin-top: -20px;
		margin-left: 480px;
	}

	.signature-image {
		max-width: 100%;
		height: auto;
	}
	

</style>

<div id="p2" class="first_div text-center">

	<div class="container">
		<div class="row mb-4 mt-4">
            <div class="col-md-2" >

                <div style="border: 1px solid; height: 70px; width: 90px; margin-left: 15px; padding: 10px;">
                    <p class="police-15" style="text-align: left;font-weight: bold;" >RCCM <br> 2010 - P2 </p>
                </div>

            </div>
            <div class="col-md-8">
               
            </div>
            <div class="col-md-2">
                <div class="" >
                    <div id="qrcode3" style=" margin-left: 30px; "></div>
                </div>
            </div>
        </div>
           

        <!-- MODIFICATION RELATIVES AUX PERSONNES POUVANT ENGAGER LA PERSONNE PHYSIQUE -->
        <div class="mb-3">
            <p class="police-15" style="margin-bottom: -13px;position: relative; z-index: 2;"><span style="border: 1px solid;padding: 10px;background-color: whitesmoke;"><b>INTERCALAIRE COMPLEMENTAIRE AU FORMULAIRE M2 (*)</b></span> </p>
            <div class="d-flex justify-content-center align-items-center" style="position: relative; z-index: 1;">
                <div style="text-align: left; border: 1px solid; padding: 23px; width: 22em;">
					<p class="police-15 mb-0 "><span class="police-15" style="margin-left: -45px;margin-right: 30px;">21</span>Cette intercalaire doit IMPERATIVEMENT être renseignée et annexée au formulaire M0 lorsque des modifications sont intervenues au titre des rubrique 15, 16 et 17</p>

					
					<!-- Personne 2 -->
					<div>
						<p class="police-15 mb-0 text-center"><b>15 MODIFICATIONS RELATIVES AUX ASSOCIES</b></p>
						<p class="police-11 mb-0 ">INSCRIRE CI-DESSOUS LES INFORMATIONS OU MODIFICATIONS RELATIVES AUX NOM, PRENOM, DOMICILE PERSONNEL, DATE ET LIEU DE NAISSANCE, NATIONALITE, DATE ET LIEU DE MARIAGES, REGIME MATRIMONIAL, CLAUSES RESTRICTIVES OPPOSABLES AUX TIERS, SEPARATIONS DE BIEN DES ASSOCIES TENUS INDEFINEMENT ET PERSONNELLEMENT DES DETTES SOCIALES</p>
						<p class="police-15 mb-0 "><span>EN PRECISANT S'ILS SONT :</span> <span class="fake-checkbox"></span>&nbsp;NOUVEAU &nbsp;<span class="fake-checkbox"></span>&nbsp;PARTANT &nbsp;<span class="fake-checkbox"></span>&nbsp;MAINTENU &nbsp;<span class="fake-checkbox"></span>&nbsp;MODIFIE</p>
					</div>
                    
					
					
                </div>
            </div>
        </div>
		<div class="mb-3">
            <p class="police-15" style="margin-bottom: -13px;position: relative; z-index: 2;"><span style="border: 1px solid;padding: 10px;background-color: whitesmoke;"><b>MODIFICATIONS RELATIVES AUX DIRIGEANTS</b></span> </p>
            <div class="d-flex justify-content-center align-items-center" style="position: relative; z-index: 1;">
                <div style="text-align: left; border: 1px solid; padding: 23px; width: 22em;">
					
					<!-- Personne 2 -->
					<div>
						<p class="police-11 mb-0 ">INSCRIRE CI-DESSOUS LES INFORMATIONS OU MODIFICATIONS RELATIVES AUX NOM, PRENOM, DOMICILE PERSONNEL, DATE ET LIEU DE NAISSANCE, ADRESSE, QUALITE (Gérant, PDG, PCA, Administrateur ou associé) DES ASSOCIES POUVANT ENGAGER LA PERSONNE MORALE </p>
						<p class="police-15 mb-0 "><span>EN PRECISANT :</span> <span class="fake-checkbox"></span>&nbsp;NOUVEAU &nbsp;<span class="fake-checkbox"></span>&nbsp;PARTANT &nbsp;<span class="fake-checkbox"></span>&nbsp;MAINTENU &nbsp;<span class="fake-checkbox"></span>&nbsp;MODIFIE</p>
					</div>
                    					
                </div>
            </div>
        </div>
		<div class="mb-3">
            <p class="police-15" style="margin-bottom: -13px;position: relative; z-index: 2;"><span style="border: 1px solid;padding: 10px;background-color: whitesmoke;"><b>MODIFICATIONS RELATIVES AUX COMMISSAIRES AUX COMPTES</b></span> </p>
            <div class="d-flex justify-content-center align-items-center" style="position: relative; z-index: 1;">
                <div style="text-align: left; border: 1px solid; padding: 23px; width: 22em;">
					
					<!-- Personne 2 -->
					<div>
						<p class="police-11 mb-0 ">INSCRIRE CI-DESSOUS LES INFORMATIONS OU MODIFICATIONS RELATIVES AUX NOM, PRENOM, DOMICILE PERSONNEL, DATE ET LIEU DE NAISSANCE, DOMICILE DES COMMISSAIRES AUX COMPTES TITULAIRES ET SUPPLEANT</p>
						<p class="police-15 mb-0 "><span>EN PRECISANT :</span> <span class="fake-checkbox"></span>&nbsp;NOUVEAU &nbsp;<span class="fake-checkbox"></span>&nbsp;PARTANT &nbsp;<span class="fake-checkbox"></span>&nbsp;MAINTENU &nbsp;<span class="fake-checkbox"></span>&nbsp;MODIFIE</p>
					</div>
                    					
                </div>
            </div>
        </div>

         <!-- ----------------- -->
         <div class="mb-3">
            <div class="d-flex justify-content-center align-items-center" style="position: relative; z-index: 1;">
                <div style="text-align: left; border: 1px solid; padding: 23px; width: 22em;">
                    <p class="police-15 mb-0 "><span class="police-15" style="margin-left: -45px;margin-right: 30px;">22</span> La conformité de la déclaration avec les pièces justificatives produites en application de l'Acte Uniforme sur le Droit commercial général a été vérifiée par le Greffier en Chef soussigné qui a procédé à l'inscription le 07/05/2024 sous le NUMERO 06659<p>
					<div class="row">
						<div class="col-md-8">
						</div>
						<div class="col-md-4">
							<div style=" height: 90px; width: 150px; border: 1px solid;"  class="p-2">
								<p class="police-11 mb-0">Fait à : Conakry</p>
								<p class="police-11 mb-2" id="dateModification_value2">{{ formalite.dateModification }}</p>
								<p class="police-11">Signature</p>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>

     

		<!-- ---------------- -->
		<div class="d-flex justify-content-center align-items-center" style="position: relative; z-index: 1;">
			<div style="text-align: left; padding: 23px; width: 22em;">
				<div class="signature-container" >
					{% if formalite.chef_greffe.signature and formalite.chef_greffe.signature.image %}
						
						{% if formalite.statut == 'SIGNER' %}
							<img src="{{ formalite.chef_greffe.signature.image.url }}" alt="Signature du Chef de Greffe" class="signature-image">
						{% else %}
							<p class="h1 mt-5" style="color: gray;">NON SIGNÉE.</p>
						{% endif %}
							
					{% else %}
						<p class="h2 mt-5" style="color: gray;">Aucune signature disponible.</p>
					{% endif %}
				</div>
			</div>
		</div>

	
		
		
	</div>


</div>







