{% extends '_base/layout.html' %}


{% block title %}Mon compte{% endblock title %}

{% block content %}
{% load static %}

<section id="content" class="content">
    <div class="content__header  rounded-0">
        <div class="content__wrap">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                   <li class="breadcrumb-item fs-4"><a href="#" class="nav-toggler" aria-label="Nav Toggler">Menu</a></li>
                   <li class="breadcrumb-item active fs-4" aria-current="page">Profile</li>
                </ol>
             </nav>
             <div class="content__wrap d-md-flex align-items-start hv-outline-parent hv-outline-inherit">


                <figure class="m-0">
                   <div class="d-inline-flex align-items-center position-relative pt-xl-3 mb-3">
                      <div class="flex-shrink-0">
                        {% if request.user.is_authenticated %}
                            {% if request.user.photo %}
                            <img class="hv-oc img-xl rounded-circle border" src="{{ request.user.photo.url }}" alt="Profile Picture" loading="lazy">
                            {% else %}
                            <img class="hv-oc img-xl rounded-circle border" src="{% static '_base/assets/img/profile-photos/1.png' %}" alt="Profile Picture" loading="lazy">
                            {% endif %}
                        {% endif %}
                      </div>
                      <div class="flex-grow-1 ms-4">
                        {% if request.user.is_authenticated %}
                            <a href="#" class="h3 btn-link text-body-emphasis">{{ request.user.first_name }} {{ request.user.last_name }}</a>
                            <p class="m-0">{{ request.user.poste }}</p>
                        {% endif %}
                         
 
                         <!-- Social network button -->
                         <div class="mt-3 text-reset">
                               <i class="demo-psi-mail fs-4"></i>&nbsp;&nbsp;{{ request.user.email }}
                         </div>
                         <!-- END : Social network button -->
 
                      </div>
                   </div>
 
                </figure>
                <div class="d-inline-flex justify-content-end pt-xl-5 gap-2 ms-auto">
                   <button class="btn btn-light text-nowrap" data-bs-toggle="modal" data-bs-target="#editModal"><i class="pli-pen-4"></i> Editer mon compte</button>
                   <button class="btn btn-success text-nowrap" data-bs-toggle="modal" data-bs-target="#passwordModal"><i class="pli-key-3"></i> Changer mon mot de passe</button>
                </div>
             </div>
        </div>
      
    </div>


    <div class="">
        <div class="content__wrap">

            {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show fs-5" role="alert">
                        <i class="pli-thumb fs-1 text-success"></i>&nbsp; {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
                </div>
                {% else %}
                <div class="alert alert-danger alert-dismissible fade show fs-5" role="alert">
                        <i class="demo-pli-exclamation fs-1 text-danger"></i>&nbsp; {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer"></button>
                </div>
                {% endif %}

                {% endfor %}
            {% endif %}

            <div class="col-md-12 mb-3 container-fluid">


                <!-- Vertical tabs with base -->
                <div class="tab-base tab-vertical">

                   <!-- Nav tabs -->
                   <ul class="nav flex-column  nav-pills me-2" role="tablist">
                      <li class="nav-item" role="presentation">
                         <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#_dm-verPillsHome" type="button" role="tab" aria-controls="home" aria-selected="true"><i class="demo-psi-folder fs-4 text-orange-400"></i>&nbsp;&nbsp;Mes dossiers</button>
                      </li>
                      <li class="nav-item" role="presentation">
                         <button class="nav-link" data-bs-toggle="tab" data-bs-target="#_dm-verPillsProfile" type="button" role="tab" aria-controls="profile" aria-selected="false" tabindex="-1"><i class="demo-psi-bell fs-4"></i>&nbsp;&nbsp;Notifications</button>
                      </li>
                      <!-- <li class="nav-item" role="presentation">
                         <button class="nav-link" data-bs-toggle="tab" data-bs-target="#_dm-verPillsContact" type="button" role="tab" aria-controls="contact" aria-selected="false" tabindex="-1">Notifications</button>
                      </li> -->
                   </ul>


                   <!-- Tabs content -->
                   <div class="tab-content col-md-10">
                      <div id="_dm-verPillsHome" class="tab-pane fade active show" role="tabpanel" aria-labelledby="home-tab">
                         <h5>Mes dossiers</h5>
                         <div class="row mb-4">
                            <div class="col-md-4">
        
          
                               <!-- Stat widget -->
                               <div class="card bg-blue-700 text-white mb-3 mb-xl-3 hv-grow">
                                  <div class="card-body py-3 d-flex align-items-stretch">
                                     <div class="d-flex align-items-center justify-content-center flex-shrink-0 rounded-start">
                                        <i class="demo-psi-file fs-1"></i>
                                     </div>
                                     <div class="flex-grow-1 ms-3">
                                        <h5 class="h2 mb-0">{{ Tformalite }}</h5>
                                        <p class="mb-0">Créée(s)</p>
                                     </div>
                                  </div>
                               </div>
                               <!-- END : Stat widget -->
          
          
                            </div>
                            <div class="col-md-4">
          
          
                               <!-- Stat widget -->
                               <div class="card bg-green-600 text-white mb-3 mb-xl-3 hv-grow">
                                  <div class="card-body py-3 d-flex align-items-stretch">
                                     <div class="d-flex align-items-center justify-content-center flex-shrink-0 rounded-start">
                                        <i class="demo-psi-file-edit fs-1"></i>
                                     </div>
                                     <div class="flex-grow-1 ms-3">
                                        <h5 class="h2 mb-0">{{ TformaliteSigner }}</h5>
                                        <p class="mb-0">Signée(s) </p>
                                     </div>
                                  </div>
                               </div>
                               <!-- END : Stat widget -->
          
          
                            </div>
                            <div class="col-md-4">
          
          
                               <!-- Stat widget -->
                               <div class="card bg-gray-800 text-white mb-3 mb-xl-3 hv-grow">
                                  <div class="card-body py-3 d-flex align-items-stretch">
                                     <div class="d-flex align-items-center justify-content-center flex-shrink-0 rounded-start">
                                        <i class="pli-file-loading fs-1"></i>
                                     </div>
                                     <div class="flex-grow-1 ms-3">
                                        <h5 class="h2 mb-0">{{ TformaliteNonSigner }}</h5>
                                        <p class="mb-0">Non signée(s)</p>
                                     </div>
                                  </div>
                               </div>
                               <!-- END : Stat widget -->
          
          
                            </div>
                           
                         </div>

                        <!-- FILTRE PAR TYPE DE FORMALITÉ -->
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <form method="get" class="d-flex gap-2">
                                    <select name="typeFormalite" class="form-select w-auto">
                                        <option value="">-- Filtrer par type --</option>
                                        <option value="Création" {% if type_formalite == "Création" %}selected{% endif %}>Création</option>
                                        <option value="Modification" {% if type_formalite == "Modification" %}selected{% endif %}>Modification</option>
                                    </select>
                                    <button type="submit" class="btn btn-sm btn-primary">Filtrer</button>
                                </form>
                            </div>
                

                            <!-- CHAMP DE RECHERCHE + EXPORTS -->
            
                            <div class="col-md-4">
                                <form method="get" class="d-flex gap-2">
                                    <input type="text" name="search" placeholder="Rechercher une formalite..." class="form-control" value="{{ search_query }}">
                                    <button type="submit" class="btn btn-sm btn-secondary">Rechercher</button>
                                </form>
                            </div>

                            <div class="col-md-4 text-end">
                                <div class="d-flex justify-content-end gap-2">
                                    <a href="{% url 'export_excel' %}" class="btn btn-dark" style="font-weight: bold;"><i class="pli-download-2"></i>&nbsp;&nbsp;Exporter en Excel</a>
                                </div>
                            </div>
                        </div>

                            
                        <!-- Tableau -->
                        <div class="table-responsive">
                            <table class="table table-striped align-middle">
                                <thead>
                                    <tr>
                                        <th width="55"></th>
                                        <th>N° formalité</th>
                                        <th>Société</th>
                                        <th class="text-nowrap">Date de Création</th>
                                        <th>Catégorie</th>
                                        <th class="text-center">Statut</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for f in formalites %}
                                    <tr class="{% if f.typeFormalite == 'Création' %}bg-gray{% endif %}">
                                        <td>{{ forloop.counter }}</td>
                                        <td><a class="btn-link text-body-emphasis text-decoration-underline text-truncate mb-0" href="#">{{ f.numeroFormalite }}</a></td>
                                        <td><a href="#" class="btn-link text-nowrap">{{ f.denomination }}</a></td>
                                        <td><span class="text-nowrap text-body-secondary">{{ f.dateModification }}</span></td>
                                        <td>
                                            {{ f.typeFormalite }}
                                            {% for d in f.declarationModificative.all %}
                                                / {{ d }}
                                            {% endfor %}
                                        </td>
                                        <td class="h5">
                                            
                                            {% if f.statut == 'SIGNER' %}
                                                <div class="d-block badge bg-success"><i class="ti-check" style="font-weight: bold;"></i> SIGNÉE</div>
                                            {% else %}
                                                <div class="d-block badge bg-secondary"><i class="ti-close" style="font-weight: bold;"></i> NON SIGNÉE</div>
                                            {% endif %}
                                                
                                        </td>
                                        <td>
                                            <div class="text-nowrap text-center">
                                                {% if f.typeFormalite == 'Création' %}
                                                <a href="{{ f.rccm.rccm_file.url }}" target="_blank" class="btn btn-sm btn-primary">Voir plus <i class="demo-pli-arrow-right fs-5"></i></a>
                                                {% else %}
                                                <a href="{% url 'rccm.formalite.detail' f.slug %}" class="btn btn-sm btn-primary">Voir plus <i class="demo-pli-arrow-right fs-5"></i></a>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                
                        <!-- Pagination -->
                        <div class="mt-4 d-flex justify-content-center">
                            <nav aria-label="Pagination">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.typeFormalite %}&typeFormalite={{ request.GET.typeFormalite }}{% endif %}">Précédent</a>
                                    </li>
                                    {% endif %}
                
                                    {% for num in page_obj.paginator.page_range %}
                                    <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                        <a class="page-link" href="?page={{ num }}{% if request.GET.typeFormalite %}&typeFormalite={{ request.GET.typeFormalite }}{% endif %}">{{ num }}</a>
                                    </li>
                                    {% endfor %}
                
                                    {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.typeFormalite %}&typeFormalite={{ request.GET.typeFormalite }}{% endif %}">Suivant</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                         
                      </div>
                      <div id="_dm-verPillsProfile" class="tab-pane fade" role="tabpanel" aria-labelledby="profile-tab">
                         <h5>Notifications</h5>
                         <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary.</p>
                      </div>
                      <!-- <div id="_dm-verPillsContact" class="tab-pane fade" role="tabpanel" aria-labelledby="contact-tab">
                         <h5>Notifications</h5>
                         <p>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived waltz. Brick quiz whangs jumpy veldt fox.</p>
                      </div> -->
                   </div>

                </div>
                <!-- END : Vertical tabs with base -->


             </div>

            
        </div>
    </div>


    {% include '_base/tools/footer.html' %}

</section>

  <!-- Modal Editer compte-->
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
       <div class="modal-content">
          <div class="modal-header bg-orange-500">
             <h1 class="modal-title fs-4 text-white" id="editModalLabel"><i class="pli-pen-4"></i> Editer mon compte</h1>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-4">
            <form class="row g-3 mt-3" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <input type="hidden" name="form_type" value="profile">

                <div class="row mb-3">
                    <div class="col-md-6">{{ form.username.label_tag }} {{ form.username }}</div>
                    <div class="col-md-6">{{ form.email.label_tag }} {{ form.email }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">{{ form.first_name.label_tag }} {{ form.first_name }}</div>
                    <div class="col-md-6">{{ form.last_name.label_tag }} {{ form.last_name }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">{{ form.tel1.label_tag }} {{ form.tel1 }}</div>
                    <div class="col-md-6">{{ form.tel2.label_tag }} {{ form.tel2 }}</div>
                </div>
                <div class="mb-3">
                    {{ form.adresse.label_tag }} {{ form.adresse }}
                </div>
                <div class="mb-3">
                    {{ form.nationnalite.label_tag }} {{ form.nationnalite }}
                </div>
                <div class="mb-3">
                    Changer votre photo {{ form.photo }}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-success">Mettre à jour</button>
                 </div>
            </form>
          </div>
        
       </div>
    </div>
 </div>
 <!-- END : Basic Modal -->

   <!-- Modal Editer Mot de passe-->
 <div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
       <div class="modal-content">
          <div class="modal-header bg-orange-500">
             <h1 class="modal-title fs-4 text-white" id="passwordModalLabel"><i class="pli-key-3 fs-2"></i> Changer de mot de passe</h1>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-4">
            <form class="row g-3 mt-2" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="password">

                <div class="mb-3">
                    {{ form_password.old_password.label_tag }}
                    {{ form_password.old_password }}
                    {% if form_password.old_password.errors %}
                        <div class="text-danger small">{{ form_password.old_password.errors.0 }}</div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form_password.password.label_tag }}
                    {{ form_password.password }}
                    {% if form_password.password.errors %}
                        <div class="text-danger small">{{ form_password.password.errors.0 }}</div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form_password.confirm_password.label_tag }}
                    {{ form_password.confirm_password }}
                    {% if form_password.confirm_password.errors %}
                        <div class="text-danger small">{{ form_password.confirm_password.errors.0 }}</div>
                    {% endif %}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-success">Mettre à jour</button>
                 </div>
            </form>
          </div>
        
       </div>
    </div>
 </div>
 <!-- END : Basic Modal -->





{% endblock %}