{% extends 'role/layout.html' %}


{% block title %}Enrollement{% endblock title %}
    
{% block content %}

{% load static %}

<style>
    .bg-danger-light {
         background-color: #f8d7da; /* Rouge clair */
    }

</style>

<section class="content">
    <div class="content__header rounded-0">
        <div class="content__wrap">
          <h1 class="text-center my-2"><i class="demo-pli-pen-5 fs-1"></i> Gestion d'enrollements</h1>
          <p class="text-center mb-4">Gerez les rôles d'audiences du tribunal</p>
          <nav aria-label="breadcrumb" style="font-size: 18px;">
            <ol class="breadcrumb">
               <li class="breadcrumb-item"><a href="{% url 'role.index' %}">Accueil</a></li>
               <li class="breadcrumb-item"><a href="{% url 'role.enrollementForAdmin' %}">Enrollements</a></li>
               <li class="breadcrumb-item active" aria-current="page">Historique des modifications</li>
            </ol>
         </nav>
        </div>
    </div>

    <div class="container-fluid">
        <div class="p-2">

            <!-- Page title -->
            <div class="page-header d-print-none mt-4">
                <div class="row align-items-center mb-2">
                    <div class="col-md-4">
                        <!-- Page pre-title -->
                        <h1 class="" style="color:white">
                            <span class="text-primary"><i class="fa fa-history"></i> Historique des modifications</span>
                        </h1>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">

                            <a href="{% url 'role.createEnrollement' %}" class="btn btn-primary d-none d-sm-inline-block">
                                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <line x1="12" y1="5" x2="12" y2="19" />
                                    <line x1="5" y1="12" x2="19" y2="12" />
                                </svg>
                                Nouvelle(s) affaire(s)
                            </a>
                            <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-report" aria-label="Create new report">
                                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <line x1="12" y1="5" x2="12" y2="19" />
                                    <line x1="5" y1="12" x2="19" y2="12" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- <div class="alert alert-success alert-dismissible mt-3" role="alert">
                <div class="d-flex">
                    <div>
                        
                    </div>
                    <div>
                        <h4 class="alert-title">Felicitation !</h4>
                        <div class="text-muted"> Message</div>
                    </div>
                </div>
                <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
            </div><br /> -->
           
        </div>
        <div class="page-body">
            <div class="p-2">
                <div class="row row-deck row-cards">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                            
                             

                            </div>
                            <div class="card-body border-bottom py-3">
                            
                                <div class="table-responsive">
                                    <table class="table table-striped align-middle">
                                        <thead>
                                            <tr>
                                                <th scope="col" style="width:5px ;">No.Ordre</th>
                                                <th scope="col" style="width:5px ;">NUA</th>
                                                <th scope="col" style="width:10px ;">RG</th>
                                                <th scope="col" style="text-align: center;">Type d'audience</th>
                                                <th scope="col" style="text-align: center;">Date d'Enrollement</th>
                                                <th scope="col" style="text-align: center;">Date d'audience</th>
                                                <th scope="col" style="text-align: center;">Demanderesse</th>
                                                <th scope="col" style="text-align: center;">Defenderesse</th>
                                                <th scope="col" style="text-align: center;">Objet</th>
                                                <th scope="col" style="text-align: center;">Modifié par</th>
                                                <th scope="col" style="text-align: center;">Date de modification</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                        
                                        {% for e in page_obj %}
                                                                                
                                            <tr id="row-{{ e.id }}" class="{% if e.statut == 'Annuler' %}bg-danger-light{% else %}bg-default{% endif %}">

                                               
                                                <td scope="col">{{forloop.counter}}</td>
                                                <td scope="col"><b>{{e.numAffaire}}</b></td>
                                                <td scope="col">{{e.numRg}}</td>
                                                <td scope="col" style="text-align: center;">({{e.typeAudience}})</td>
                                                <td scope="col" style="text-align: center;">{{e.dateEnrollement}}</td>
                                                <td scope="col" style="text-align: center;">{{e.dateAudience}}</td>
                                                <td scope="col" style="text-align: center;">{{ e.demandeurs }} </td>
                                                <td scope="col" style="text-align: center;">{{ e.defendeurs }} </td>
                                                <td scope="col" style="text-align: center;">{{e.objet}}</td>
                                                <td scope="col" style="text-align: center;"><b>{{e.modified_by}}</b></td>
                                                <td scope="col" style="text-align: center;"><b>{{e.modified_at}}</b></td>
                                               
                                            </tr>

  
                                            {% endfor %}
                                        
                                        </tbody>
                                    </table>
                                    <div class="pagination mt-3 d-flex justify-content-center">
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination">
                                                {% if page_obj.has_previous %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Précédent</a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item disabled"><span class="page-link">Précédent</span></li>
                                                {% endif %}
                                    
                                                {% for num in page_obj.paginator.page_range %}
                                                    {% if page_obj.number == num %}
                                                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                    
                                                {% if page_obj.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Suivant</a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item disabled"><span class="page-link">Suivant</span></li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>


  

<script>

    $(document).ready(function () {
        $('#nav-enrollement').addClass('bg-primary text-white');
        $('#txt-enrollement').addClass('text-white');
    });
    
    </script>

{% endblock %}



    