{% load static %}

<script src="{% static '_base/assets/vendors/popperjs/popper.min.js' %}"></script>
<script src="{% static '_base/assets/vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static '_base/assets/js/nifty.js' %}"></script>
<script src="{% static '_base/assets/js/demo-purpose-only.js' %}"></script>
<script src="{% static '_base/assets/vendors/chart.js/chart.umd.min.js' %}"></script>
<script src="{% static '_base/assets/pages/dashboard-1.js' %}"></script>
<script src="{% static '_base/assets/vendors/zangdar/zangdar.min.js' %}"></script>
<script src="{% static '_base/assets/pages/form-wizard.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>


